/* font families */

@font-face {
    font-family: scream;
    src: url("../fonts/Raven_Scream.ttf");
}

@font-face {
    font-family: spooky;
    src: url("../fonts/Spooky_Grinch.otf");
}

@font-face {
    font-family: halloween;
    src: url("../fonts/Thegralke.ttf");
}

@font-face {
    font-family: grave;
    src: url("../fonts/EmOne-SemiBold.ttf");
}

/* variables and globals */
:root {
    --orange: #ff9f1c;
    --lightorange: #ffbf69;
    --darkorange: #ff771c;
    --darkgray: #353535;
    --lightgray: #e0e0e2;
    --purple: #9067c6;
    --lightpurple: #8d86c9;
    --darkpurple: #5d4281;

    --lightdanger: #f14c4c;
    --danger: #d13e3e;
    --dangerhover: rgb(179, 52, 52);
    --warn: #e7b613;
    --warnhover: #cfa310;

    --disabledbackground: #a3a3a3;

    --darktext: #e4e4e4;
    --lighttext: rgb(41, 41, 41);

    font-display: fallback;
    color-scheme: light dark;
    /* default font size */
    font-size: 18px;
    /* default font stack */
    font-family: grave, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
        Geneva, Verdana, sans-serif;
}

/* query for light and dark scheme */
/* check if body has class  */
:root {
    &:has(body[class="light dark"]) {
        color-scheme: light dark;
    }
    &:has(body[class="light"]) {
        color-scheme: light;
    }
    &:has(body[class="dark"]) {
        color-scheme: dark;
    }
}

/* .light {
    color-scheme: light;
}

.dark {
    color-scheme: dark;
} */
